---
import I18NDebug from "@ariaskit/astro-i18n/I18NDebug.astro";

type Copy = { key: string; value: string };

interface Props {
    id?: string;
    heading: Copy;
    message: Copy;
}

const { id, heading, message } = Astro.props as Props;
---

<section id={(id ?? heading.value).toLowerCase()} class="mt-20 scroll-mt-50 text-center">
    <I18NDebug key={heading.key}>
        <h2 class="opacity-50 mb-3 lowercase">{heading.value}</h2>
    </I18NDebug>
    <I18NDebug key={message.key}>
        <p class="opacity-70 lowercase max-w-2xl mx-auto">{message.value}</p>
    </I18NDebug>
</section>
