---
export const getStaticPaths = () => {
  return [
    { params: { lang: "en" } },
  ];
};

import Layout from "@/src/layouts/Layout.astro";
import { useI18n } from "@ariaskit/astro-i18n";
import { type LocaleSchema } from "@/src/types";
import Header from "@/src/components/Header.astro";
import Hero from "@/src/components/Hero.astro";
import Projects from "@/src/components/Projects.astro";
import Experience from "@/src/components/Experience.astro";
import Footer from "@/src/components/Footer.astro";
import Skills from "@/src/components/Skills.astro";

const { t, locale } = useI18n<LocaleSchema>({
  ssg: {
    astro: Astro,
  },
});

const nav = [
  { path: `/`, text: t("nav.about") },
  { path: `#${t("nav.projects")}`, text: t("nav.projects") },
  { path: `#${t("nav.books")}`, text: t("nav.books") },
  { path: `#${t("nav.skills")}`, text: t("nav.skills") },
  { path: `#${t("nav.contact")}`, text: t("nav.contact") },
];

const heroProps = {
  name: "hi, im vai",
  title: { key: "hero.title", value: t("hero.title") },
  p1: { key: "hero.p1", value: t("hero.p1") },
  p2: { key: "hero.p2", value: t("hero.p2") },
  p3: { key: "hero.p3", value: t("hero.p3") },
};

const projects = [
  {
    nameKey: "projects.item_1.name",
    descriptionKey: "projects.item_1.description",
    name: t("projects.item_1.name"),
    description: t("projects.item_1.description"),
    link: t("projects.item_1.link"),
  },
];

const projectsProps = {
  title: { key: "projects.title", value: t("projects.title") },
  projects,
};

const booksData = {
  title: {
    key: "books.title",
    value: t("books.title"),
  },
  books: [
    {
      period: {
        key: "books.item_1.period",
        value: t("books.item_1.period"),
      },
      book: {
        key: "books.item_1.book",
        value: t("books.item_1.book"),
      },
      author: {
        key: "books.item_1.author",
        value: t("books.item_1.author"),
      },
      description: {
        key: "books.item_1.description",
        value: t("books.item_1.description"),
      },
    },
    {
      period: {
        key: "books.item_2.period",
        value: t("books.item_2.period"),
      },
      book: {
        key: "books.item_2.book",
        value: t("books.item_2.book"),
      },
      author: {
        key: "books.item_2.author",
        value: t("books.item_2.author"),
      },
      description: {
        key: "books.item_2.description",
        value: t("books.item_2.description"),
      },
    },
    {
      period: {
        key: "books.item_3.period",
        value: t("books.item_3.period"),
      },
      book: {
        key: "books.item_3.book",
        value: t("books.item_3.book"),
      },
      author: {
        key: "books.item_3.author",
        value: t("books.item_3.author"),
      },
      description: {
        key: "books.item_3.description",
        value: t("books.item_3.description"),
      },
    },
    {
      period: {
        key: "books.item_4.period",
        value: t("books.item_4.period"),
      },
      book: {
        key: "books.item_4.book",
        value: t("books.item_4.book"),
      },
      author: {
        key: "books.item_4.author",
        value: t("books.item_4.author"),
      },
      description: {
        key: "books.item_4.description",
        value: t("books.item_4.description"),
      },
    },
  ],
};

const footerContent = {
  id: t("nav.contact").toLowerCase(),
  status: {
    key: "contact.status",
    value: t("contact.status"),
  },
  email_label: {
    key: "contact.email_label",
    value: t("contact.email_label"),
  },
  email_url: {
    key: "contact.email_url",
    value: t("contact.email_url"),
  },
  github_label: {
    key: "contact.github_label",
    value: t("contact.github_label"),
  },
  github_url: {
    key: "contact.github_url",
    value: t("contact.github_url"),
  },
  x_label: {
    key: "contact.x_label",
    value: t("contact.x_label"),
  },
  x_url: {
    key: "contact.x_url",
    value: t("contact.x_url"),
  },
};

---

<Layout
  locale={locale}
  title="Void"
  description={t("description")}
>
  <Header nav={nav} currentLocale={locale} />

  <main>
    <Hero {...heroProps} />
    <Projects {...projectsProps} />
    <Experience {...booksData} />
    <Skills
      id={t("nav.skills")}
      heading={{ key: "skills.heading", value: t("skills.heading") }}
      message={{
        key: "skills.learning_text",
        value: t("skills.learning_text"),
      }}
    />
  </main>

  <Footer {...footerContent} />
</Layout>
